html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5fbff;
  color: rgb(40, 40, 44);
  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

body {
  @media (prefers-color-scheme: dark) {
    color: rgb(229, 229, 231);
    background: #141529;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

p a, li a, figcaption a {
  color: inherit;
  text-decoration: underline dotted 1px;
}

* {
  box-sizing: border-box;
}

body > header {
  background-color: #D8E3E9;
  box-shadow: #3581b885 0 0 4px;
  @media (prefers-color-scheme: dark) {
    background-color: #FFF;
    box-shadow: #141529 0 -6px 6px -6px inset;
  }
  a > img {
    width: 80px;
    height: auto;
  }
}

body > footer {
  background-color: #D8E3E9;
  box-shadow: #3581b885 0 0 4px;
  @media (prefers-color-scheme: dark) {
    background-color: #222344;
    box-shadow: #acaee2cc 0 0 3px;
  }
  font-size: 0.75rem;
  padding: 18px 4px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

body > main {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.55;
  padding: 1rem;
  margin-bottom: (18px * 2) + (0.75 * 16px);
}

body > header > .sizer {
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}