.d {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    a:last-child img {
        margin: 18px;
    }
}

.notes {
    margin-top: 8em;
    font-size: 75%;
}